engine/xsd/S-Emulator-v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="S-Functions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="S-Function" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="S-Function">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="S-Instructions"/>
			</xs:sequence>
			<xs:attribute name="user-string" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="S-Variable" type="xs:string"/>
	<xs:element name="S-Program">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="S-Instructions"/>
				<xs:element ref="S-Functions" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="S-Label" type="xs:string"/>
	<xs:element name="S-Instructions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="S-Instruction" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="S-Instruction-Arguments">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="S-Instruction-Argument" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="S-Instruction-Argument">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="S-Instruction">
		<xs:complexType>
			<xs:all>
				<xs:element ref="S-Variable"/>
				<xs:element ref="S-Instruction-Arguments" minOccurs="0"/>
				<xs:element ref="S-Label" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="basic"/>
						<xs:enumeration value="synthetic"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NEUTRAL"/>
						<xs:enumeration value="INCREASE"/>
						<xs:enumeration value="DECREASE"/>
						<xs:enumeration value="JUMP_NOT_ZERO"/>
						<xs:enumeration value="ZERO_VARIABLE"/>
						<xs:enumeration value="ASSIGNMENT"/>
						<xs:enumeration value="GOTO_LABEL"/>
						<xs:enumeration value="CONSTANT_ASSIGNMENT"/>
						<xs:enumeration value="JUMP_ZERO"/>
						<xs:enumeration value="JUMP_EQUAL_CONSTANT"/>
						<xs:enumeration value="JUMP_EQUAL_VARIABLE"/>
						<xs:enumeration value="QUOTE"/>
						<xs:enumeration value="JUMP_EQUAL_FUNCTION"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
